@model VesnaStore.Models.User
@{
    ViewData["Title"] = "Вход";
}

<div class="auth-page">
    <div class="auth-card">
        <h2>Вход</h2>

        @if (TempData["Error"] != null)
        {
            <div style="color:red; font-size:0.85rem; margin-bottom:15px; text-align:center;">@TempData["Error"]</div>
        }
        @if (TempData["Success"] != null)
        {
            <div style="color:green; font-size:0.85rem; margin-bottom:15px; text-align:center;">@TempData["Success"]</div>
        }

        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()
            <div class="auth-form-group">
                <label>Email</label>
                <input name="email" type="email" class="auth-input" required />
            </div>

            <div class="auth-form-group">
                <label>Пароль</label>
                <input name="password" type="password" class="auth-input" required />
            </div>

            <button type="submit" class="btn-auth">Войти</button>
        </form>
        <div class="auth-footer-link" style="margin-top: 15px;">
            <a asp-action="ForgotPassword" style="font-size: 0.85rem; color: #666; text-decoration: none;">Забыли пароль?</a>
        </div>
        <div class="auth-footer-link">
            Нет аккаунта? <a asp-action="Register">Регистрация</a>
        </div>
    </div>
</div>